html, body {
  margin: 0;
  padding: 0;
}
canvas, video {
  display: block;
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
  
}
canvas{
  z-index: 1;
}


video {
  transform: scaleX(-1);
}

