html, body {
  margin: 0;
  padding: 0;
}
canvas, video {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  
}

  canvas {
    display: block;
    position: absolute;
    width: 300% !important;
    height: 300% !important;
    object-fit: cover;
  }
  z-index: 1;


video {
  transform: scaleX(-1);
}

